{
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-ini"],
  "overrides": [
    {
      "files": [".npmrc"],
      "options": {
        "iniSpaceAroundEquals": true,
        "parser": "ini",
        "endOfLine": "auto"
      }
    },
    {
      "files": ["*.json", ".prettierrc"],
      "options": {
        "tabWidth": 2,
        "parser": "jsonc",
        "endOfLine": "auto"
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "tabWidth": 2,
        "endOfLine": "auto",
        "bracketSpacing": false,
        "bracketSameLine": true,
        "semi": true
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "tabWidth": 1,
        "endOfLine": "auto"
      }
    }
  ]
}
