{
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "singleQuote": true,
  "endOfLine": "auto",
  "trailingComma": "none",
  "plugins": ["prettier-plugin-ini", "prettier-plugin-toml"],
  "overrides": [
    {
      "files": [".prototools"],
      "options": {
        "parser": "toml"
      }
    },
    {
      "files": [".npmrc"],
      "options": {
        "parser": "ini",
        "iniSpaceAroundEquals": true
      }
    },
    {
      "files": ["*.json", ".prettierrc"],
      "options": {
        "parser": "jsonc",
        "tabWidth": 2
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "parser": "yaml",
        "tabWidth": 2,
        "bracketSpacing": false,
        "bracketSameLine": true
      }
    },
    {
      "files": ["*.md", "*.markdown"],
      "options": {
        "parser": "markdown",
        "tabWidth": 1
      }
    }
  ]
}
