#
# VSCode Ignore List
#

node_modules/
.vscode-test/
out/
src/

tsconfig.json
.eslintrc.json
.gitignore
webpack.config.js
.github
.eslintignore
.nvmrc
.prettierignore
*.map

pnpm-lock.yaml
yarn.lock
package-lock.json
